* {
  margin: 0px;
}
body {
  margin: 0px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  width: 100%;
}
header {
  background-color: #e6f2ff;
  height: 30px;
}
h1 {
  font-size: 3.1rem;
  margin: 0px;
}
h1,
h2 {
  color: #66bfbf;
}
h3,
a {
  color: #11999e;
}
.sub-head {
  font-weight: normal;
}

.top-container {
  background-color: #e6f2ff;
  width: 100%;
  margin: 0px;
  height: 100%;
}
.skill-row {
  margin: 80px auto 80px auto;
  width: 55%;
  text-align: left;
}
hr {
  width: 110px;
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 10px;
  margin: 25px auto;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
}
.top-cloud {
  position: relative;
  padding: 50px;
  left: 15%;
}
.background-img {
  margin-top: 40px;
  width: 60%;
}
.skill-img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.profile {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.profile-img {
  border-radius: 90%;
}
.img-1 {
  float: left;
  margin-right: 25px;
}
.img-3 {
  float: left;
  margin-right: 25px;
}
.img-5 {
  float: left;
  margin-right: 25px;
}
.img-2 {
  float: right;
  margin-left: 25px;
}
.img-4 {
  float: right;
  margin-left: 25px;
}
.img-6 {
  float: right;
  margin-left: 25px;
}
.img-7 {
  float: left;
  margin-right: 25px;
}
button {
  background-color: purple;
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  height: 40px;
  width: 230px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.btn {
  text-decoration: none;
  color: white;
}
button:hover {
  background-color: #660066;
  cursor: pointer;
  color: white;
}
.bottom-container {
  margin: 0px;
  background-color: pink;
  height: 100px;
  padding-top: 40px;
}
.footer-text {
  margin: 0px;
  margin-top: 10px;
  font-size: 15px;
}
.footer-link {
  text-decoration: none;
  padding: 0px 8px 0px 8px;
  color: blue;
}
.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .skills,
  .skill-row {
    width: 100%;
    padding: 0px 10px 0px 10px;
    text-align: center;
  }
  .proj {
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  h3 {
    margin: 0px;
    float: none;
    text-align: center;
  }
  .proj {
    height: 250px;
  }
}

#nav_bar {
  margin: 0px;
  padding: 10px;
}

#ham_bar {
  margin: 5px 1px 5px 1px;
  width: 25%;
}
.project_heading {
  margin-bottom: 25px;
}
#proj-1,
#proj-2,
#proj-3,
#proj-4 {
  background-color: pink;
  margin: 10px;
}
#projects {
  width: 100%;
}
.proj {
  height: 450px;
  width: 100%;
  margin: 5px;
}
.row {
  margin: 25px;
}
.services_list {
  margin-left: 25px;
  text-align: left;
}
.fiverr {
  color: white;
}
